<div class="wrapper1"style = "background-color:#DC3545;
position:fixed;
top:0;
width:100%;
z-index:100;">
  <!-- <nav>
    <input type="checkbox" id="show-search">
    <input type="checkbox" id="show-menu">
    <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
    <div class="content1">
      <div class="logo"><a href="#">Bus Registration</a>
      </div>
    </div>
      <div style="text-align: right;" class = "content1">
        <ul class="links" >
          <li><a href="#">Bus Hire</a></li>
          <li><a href="#">About</a></li>
          <li>
            <a href="#" class="desktop-link">Manage Bookings</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Manage Bookings</label>
            <ul>
              <li><a href="#">Cancel</a></li>
              <li><a href="#">Change Password</a></li>
              <li><a href="#">Profile</a></li>
            </ul>

          <li>
            <a href="#" class="desktop-link1">Login/Signup</a>
            <input type="checkbox" id="show-features1">
            <label for="show-features1">Login/Signup</label>
            <ul>
              <li><a  routerLink="/registration">SignUp</a></li>
              <li><a  routerLink="/login">Login</a></li>
              <li><a class = "admin" routerLink="/admin">Admin Login</a></li>
            </ul>
          </li>
        </ul>
      </div>
  </nav> -->

  <nav class="navbar navbar-expand-sm bg-danger navbar-dark fixed-top">
		<input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content1">
        <div class="logo"><a href="#">Bus Registration</a>
        </div>
      </div>
        <div style="text-align: right;" class = "content1">
          <ul class="links" >
            <li><a routerLink = "/bushire">Bus Hire</a></li>

            <li *ngIf = "curruser != null">
              <a  class="desktop-link1">Manage Bookings</a>
              <input type="checkbox" id="show-features1">
              <label for="show-features1" >Manage Bookings</label>
              <ul>
				<div *ngIf="curruser != null; else elseBlock">
					<li ><a [routerLink] = "['/cancelbooking']">Cancel</a></li>
				</div>
				<ng-template #elseBlock >
					<li ><a [routerLink] = "['/login']">Cancel</a></li>
				</ng-template>
                
              </ul>
			  </li>
			  <li><a [routerLink] = "['/userprofile/',curruser?.userId]" *ngIf = "curruser != null">{{curruser?.fullName}}</a></li>
            <li>
              <a  class="desktop-link1">Login/Signup</a>
              <input type="checkbox" id="show-features1">
              <label for="show-features1">Login/Signup</label>
              <ul>
                <li><a class = "registration" routerLink="/registration" *ngIf = "curruser == null">SignUp</a></li>
                <li><a class = "login" routerLink="/login" *ngIf = "curruser == null">Login</a></li>
				<li><a class = "admin" routerLink="/admin" *ngIf = "curruser == null">Admin Login</a></li>
				<li><a class = "login" routerLink="homepage" *ngIf = "curruser != null" (click) = "logout()">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
	</nav>
</div>

<div class="container-fluid pt-5 mb-5"  >
    <div class="row justify-content-center" style = "margin-top: 130px; padding: 10px;">
      <div class="col-md-9 ">
      <div class="seat_plan_wrap" style = "padding: 30px;">
        <div class="row">
          <div class="col-md-6">
            <h6>Select Seats </h6>
            <div class="seats">
              <div class="handle">
                <img src="../assets/img/handle.png" alt="">
              </div>
              <div class="row1">
                <ul>
                  <li>
                    <a (click)="Seat('A1')" id="A1" title="[A1]">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a (click)="Seat('B1')" id="B1" title="[B1]">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[C1]" (click)="Seat('C1')" id="C1">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[D1]" (click)="Seat('D1')" id="D1">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[E1]" (click)="Seat('E1')" id="E1">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[F1]" (click)="Seat('F1')" id="F1">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[G1]" (click)="Seat('G1')" id="G1">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[H1]" (click)="Seat('H1')" id="H1">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[I1]" (click)="Seat('I1')" id="I1">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                </ul>


                <ul>
                  <li>
                    <a title="[A2]" (click)="Seat('A2')" id="A2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[B2]" (click)="Seat('B2')" id="B2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[C2]" (click)="Seat('C2')" id="C2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[D2]" (click)="Seat('D2')" id="D2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[E2]" (click)="Seat('E2')" id="E2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[F2]" (click)="Seat('F2')" id="F2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[G2]" (click)="Seat('G2')" id="G2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[H2]" (click)="Seat('H2')" id="H2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[I2]" (click)="Seat('I2')" id="I2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                </ul>

              </div>
              <div class="row1">

                <ul>
                  <!-- ROW 3 START -->
                  <li>
                    <a title="[A3]" (click)="Seat('A3')" id="A3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[B3]" (click)="Seat('B3')" id="B3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[C3]" (click)="Seat('C3')" id="C3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[D3]" (click)="Seat('D3')" id="D3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[E3]" (click)="Seat('E3')" id="E3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[F3]" (click)="Seat('F3')" id="F3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[G3]" (click)="Seat('G3')" id="G3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[H3]" (click)="Seat('H3')" id="H3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[I3]" (click)="Seat('I3')" id="I3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                </ul>

                <!-- ROW 3 COMPLETE  -->

                <ul>
                  <!-- ROW 4 START  -->
                  <li>
                    <a title="[A4]" (click)="Seat('A4')" id="A4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[B4]" (click)="Seat('B4')" id="B4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[C4]" (click)="Seat('C4')" id="C4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[D4]" (click)="Seat('D4')" id="D4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[E4]" (click)="Seat('E4')" id="E4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[F4]" (click)="Seat('F4')" id="F4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[G4]" (click)="Seat('G4')" id="G4">
                      <img src="../assets/img/bseat.png" alt="">

                    </a>
                  </li>
                  <li>
                    <a title="[H4]" (click)="Seat('H4')" id="H4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[I4]" (click)="Seat('I4')" id="I4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                </ul>

              </div>
             
            </div>
            <div *ngIf="alert"class="alert alert-danger ">seat limit is four and you can't selected already selected seat</div>
          </div>
          <div class="col-md-6 ">
          <div class="seat_plan">
            <table class="table ">
              <thead>
                <tr>
                  <th>Seats</th>
                  <th>Fare</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of showSeatList">
                  <td>{{s.seatId}}</td>
                  <td>{{data.fareAmount}}</td>
                </tr>
              </tbody>
            </table>
          </div>
            <div class="total  bg-default">
              <b>Total: {{total}}</b>
            </div>
            <div class="row ">
              <button (click)="confirmJourney()"class="btn mt-3 ml-3 btn-primary btn-sm btn-block " style="background-color: tomato;">Confirm</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
