<div class="wrapper" style = "background-color:#DC3545;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;">
	<nav class="navbar navbar-expand-sm bg-danger navbar-dark fixed-top">
		<input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
        <div class="logo"><a href="#">Bus Registration</a>
        </div>
      </div>
        <div style="text-align: right;" class = "content">
          <ul class="links" >
            <li><a href="#">Bus Hire</a></li>
            <li><a href="#">About</a></li>
            <li>
              <a href="#" class="desktop-link">Manage Bookings</a>
              <input type="checkbox" id="show-features">
              <label for="show-features">Manage Bookings</label>
              <ul>
                <li><a href="#">Cancel</a></li>
                <li><a href="#">Change Password</a></li>
                <li><a href="#">Profile</a></li>
              </ul>
            <li><a href="#">Feedback</a></li>
  
            <li>
              <a href="#" class="desktop-link">Login/Signup</a>
              <input type="checkbox" id="show-features">
              <label for="show-features">Login/Signup</label>
              <ul>
                <li><a class = "registration" routerLink="/registration">SignUp</a></li>
                <li><a class = "login" routerLink="/login">Login</a></li>
              </ul>
            </li>
          </ul>
        </div>
	</nav>
</div>