<head>
	<meta charset="utf-8">
	<title>Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt style="align-self: center;">
                <img src="../../assets/images/image.jpg" alt="IMG" >
            </div>
  

    <div class="box1">
    <form [formGroup]= "ReactiveLogin">
        <div>
        <span class="login100-form-title">
            Sign Up 
       </span>
       <div class="wrap-input100 validate-input">
			
				<div>
                    <p>
                        <input class="input100" type="text" id="username"name="username" formControlName="name" style="width: 400px;" placeholder="Enter Full Name"/>
                    </p>
                    <div *ngIf="!name?.valid">
                        <div *ngIf="name?.errors?.required && (name?.dirty ||name?.touched)">
                             Name is mandatory
                        </div>                       
                        
                    </div>
                    <br>
                    <p>
                        <input class="input100" type="text" id="email"name="email" formControlName="email"   placeholder="Enter Email Id"/>
                    </p>
                    <div *ngIf="!email?.valid">
                        <div *ngIf="email?.errors?.required && (email?.dirty ||email?.touched)">
                             Email is mandatory
                        </div>
                        
                        <div *ngIf="email?.errors?.pattern">
                            Email ID should have @
                        </div>
                        
                    </div>
                    <br>
				
                    <p>
                        <input class="input100" type="text" id="contact"name="contact" formControlName="contact"  placeholder="Enter Contact"/>
                    </p>
                    <div *ngIf="!contact?.valid">
                        <div *ngIf="contact!.errors?.required && (contact?.dirty ||contact?.touched)">
                             Contact is mandatory
                        </div>
                        <div *ngIf="contact!.errors?.minlength">
                            Contact should be of 10 digits
                            </div>
                            
                    </div>
                    <br>
					<p>
                        <input class="input100" type="password" id="password"name="password" formControlName="pwd"  placeholder="Enter Password"/>
                    </p>
                    <div *ngIf="pwd?.errors?.required && (pwd?.dirty ||pwd?.touched)">
                        Password is mandatory.
                    </div>
                   
                    <div *ngIf="pwd!.errors?.minlength">
                        Password should be of 8 digits
                        </div>
                        
                    <div *ngIf="pwd?.errors?.pattern">
                        Password should contain atleast one number and one letter.
                    </div>		
                    <br>
                    <p>
                        <input class="input100" type="password" id="Cpassword"name="Cpassword" formControlName="cwd"  placeholder="Enter Password again"/>
                    </p>
                    <div *ngIf="cwd?.errors?.required && (cwd?.dirty ||cwd?.touched)">
                        Mandatory Field
                    </div>
                    <br>
                    
                    <div class="container-login100-form-btn">
                        <p>
                         <button type="button" class ="login100-form-btn"[disabled]="!ReactiveLogin.valid" (click) = "Check()" >Submit</button>
                                      </p>
                     </div>
                      


                </div>

	</div>