<head>
	<meta charset="utf-8">
	<title>Customer Signup</title>
	
	

	
</head>


    

    <div class="box1">
    <h1>Register Now</h1>
    <form [formGroup]= "ReactiveLogin">

	
			
				<div>
                    <p>
                        <label for= "username">Full Name</label><br>
                        <input type="text" id="username"name="username" formControlName="name"/>
                
                    </p>
                    <div *ngIf="!name?.valid">
                        <div *ngIf="name?.errors?.required">
                             Username is mandatory
                        </div>
                       
                    </div>

                    <p>
                        <label for= "username">Email ID</label><br>
                        <input type="text" id="email"name="email" formControlName="email"/>
                
                    </p>
                    <div *ngIf="!email?.valid">
                        <div *ngIf="email?.errors?.required">
                             Email is mandatory
                        </div>
                        <div *ngIf="email?.errors?.pattern">
                            Email ID should have @
                        </div>
                       
                    </div>

				
                    <p>
                        <label for= "contact">Contact</label><br>
                        <input type="text" id="contact"  name="contact" formControlName="contact"/>
                    </p>
                    <div *ngIf="!contact?.valid">
                        <div *ngIf="contact!.errors?.required">
                             Contact is mandatory
                        </div>
                        <div *ngIf="contact!.errors?.minlength">
                            Contact should be of 10 digits
                            </div>
                    </div>
                
					<p>
                        <label for= "password">Password</label><br>
                        <input type="password" id="pasword" name="password" formControlName="pwd"/>
                    </p>
                    <div *ngIf="pwd?.errors?.required">
                        Password is mandatory.
                    </div>
                    <div *ngIf="pwd?.errors?.pattern">
                        Password should contain atleast one number and one letter.
                    </div>
			

					

                    <p>
                        <label for= "Cpassword">Confirm Password</label>
						<br>
                        <input type="password" id="Cpassword" name="Cpassword" formControlName="cwd"/>
                    </p>
                    <div *ngIf="cwd?.errors?.required">
                        Mandatory Field
                    </div>

                    
                    <p>
                    <button type="button" [disabled]="!ReactiveLogin.valid" (click) = "Check()" >Submit</button>
                      </p>
                      


                </div>

               </form> 
	</div>
			   

                <!-- <div class="form-row">
					<p>
                        <label for= "contact">Contact</label>
                        <input type="text" id="contact" #name1 required minlength="10" #contact="ngModel" name="contact" [(ngModel)]="user.contact"/>
                    </p>
                    <div *ngIf="!contact?.valid">
                        <div *ngIf="name.errors?.required">
                             Contact is mandatory
                        </div>
                        <div *ngIf="contact.errors?.minlength">
                            Contact should atleast be of 10 digits
                            </div>
                    </div>
				</div>


                <div class="form-row">
                    <p>
                    <label for="gender"> Select your gender</label>
                   <input type="text" id="gender" #name1 required #gender="ngModel" name="gender" [(ngModel)]="user.gender"/>
                 </p>
                 <div *ngIf="name.errors?.required">
                    Gender is mandatory
                </div>
                </div>

                <div class="form-row">

					<p>
        <label for= "password">Password</label>
        <input type="password" id="password" name="password" #name1 required minlength="8" #pw="ngModel" name="password" pattern=^[A-Za-z0-9]+$ [(ngModel)]="user.password"/>
    </p>
    <div *ngIf="pw.errors?.required">
        Password is mandatory
    </div>
    <div *ngIf="pw.errors?.minlength">
        Password should have atleast 8 characters
    </div>
    <div *ngIf="pw.errors?.pattern">
        Password should consist of alphanumeric characters
    </div>

    <p>
        <label for= "Cpassword">Confirm Password</label>
        <input type="password" id="Cpassword" name="Cpassword" [(ngModel)]="user.cpassword"/>
    </p>

    <div *ngIf="user.password!=user.cpassword">
        Passwords don't match
				</div>

				
				<div class="form-row-last">
					<input type="submit"  name="register" class="register" value="Register">
					
				</div>
			 -->
		<!-- </div> -->