

  <head>
    <meta charset="utf-8">
    <title>Signup</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <div class="limiter">
      <div class="container-login100">
          <div class="wrap-login100">
              <div class="login100-pic js-tilt" data-tilt style="margin-left: 300px;">
                  <img src="../../assets/images/admin.png" >
              </div>
    
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container" style="text-align: center;">
<div >

 <form [formGroup]= "ReactiveLogin" (ngSubmit)="Check()">
 
  <div>
    <div>
      <div>
        <div>
          <div>
            <div>
              <h1>
                User Profile
              </h1>
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                  
                      
                    <div class="row">
                        <div class="col">

                    <div class="row">
                      <div class="col">                  
                            
                             
                              <p>
                                <label for= "username">Full Name</label><br>
                                <input type="text" id="username"name="username" formControlName="name" class="form-control input_size required"/>
                                
                            </p>
                            
                         </div>
                         </div>

                         <div class="row">
                            <div class="col">
                              
                                <p>
                        <label for= "username">Email ID</label><br>
                        <input type="text" id="email"name="email" formControlName="email" class="form-control input_size required"/>
                
                    </p>
                              
                            </div>
                           
                          </div>
                        
                        <div class="row">
                          <div class="col">
                           
                                <p>
                                    <label for="gender"> Gender</label><br>
                                   <input type="text" id="gender" name="gender" formControlName="gender" class="form-control input_size required"/>
                                 </p>
                            
                          </div>
                        </div>
                        

                          <div class="row">
                            <div class="col">
                              
                                <p>
                                    <label for= "contact">Contact</label><br>
                                    <input type="text" id="contact"  name="contact" formControlName="contact" class="form-control input_size required"/>
                                </p>
                              
                            </div>
                            </div>
                           
                            <div class="row">
                              <div class="col">
                                
                                  <p>
                                      <label for= "address">Address</label><br>
                                      <input type="text" id="address"  name="address" formControlName="address" class="form-control input_size required"/>
                                  </p>
                                
                              </div>
                              </div>

                          <div class="row">
                            <div class="col">
                                <p>
                                    <label for="dob"> Date of Birth</label>
                                    <br>
                                   <input type="date" id="dob" name="dob" placeholder="yyyy-mm-dd" formControlName="dob" class="form-control input_size required"/>
                                 </p>
                             
                            </div>
                          </div>
                          
                      

                     
                    
                    <div class="row">
                      
                      <div class="c">
                        <br>
                        <button class="btn btn-primary" type="submit" [disabled]="!ReactiveLogin.valid" (click) ="Check()" style="margin-left:300px;">Save Changes</button>
                      </div>
                    </div>
                    <h1>
                      Change Password
                    </h1>
                    <div class = "tab-content pt-3">
                        <form  [formGroup]= "passwordgroup" role="form" action="https://techlabz.in/truebus-web/admin/Admin_detailsview/Admin_change_password" method="post" data-parsley-validate="" class="validate" enctype="multipart/form-data">
                          <div >
                          <div >
                          <div >
                          <label>Old Password</label>
                          <div class="input-group">
                          <input type="text" name="password" class="form-control input_size required" data-parsley-trigger="change" data-parsley-minlength="2" data-parsley-maxlength="15" data-parsley-pattern="^[a-zA-Z0-9\  \/]+$" required="" placeholder="Enter Old Password" style = "width: 300px;" formControlName="oldpassword">
                          <span class="input-group-btn">
                          
                          </span>
                          </div>
                          </div>
                          <div >
                          <label>New Password</label>
                          <div class="input-group">
                          <input type="password" name="n_password" class="form-control input_size required" data-parsley-trigger="change" data-parsley-minlength="2" data-parsley-maxlength="15" data-parsley-pattern="^[a-zA-Z0-9\  \/]+$" required="" placeholder="Enter New Password" style = "width: 300px;" formControlName="newpassword">
                          <span class="input-group-btn">
                          <button class="btn btn-flat show-pwd-btn" type="button">
                          
                          </button>
                          </span>
                          </div>
                          </div>
                          <div >
                          <label>Confirm Password</label>
                          <div class="input-group">
                          <input type="password" name="c_password" class="form-control input_size required" data-parsley-trigger="change" data-parsley-minlength="2" data-parsley-maxlength="15" data-parsley-pattern="^[a-zA-Z0-9\  \/]+$" required="" placeholder="Enter Password Again" style = "width: 300px;" formControlName="confirmpassword">
                          <span class="input-group-btn">
                          <button class="btn btn-flat show-pwd-btn" type="button">
                         
                          </button>
                          </span>
                          </div>
                          </div>
                          <div class="box-footer">
                          <button type="submit" class="btn btn-primary" name="reset_pwd" (click) = "updatepassword()" style="margin-left:10px;">Update Password</button>
                          </div>
                          </div>
                          </div>
                          </form>
                    </div>
                </div>
              </div>
            
        




<script type="text/javascript">

</script>