
<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Payment</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <style>
            
        body {
            background: white;
            
        }
        a {
            text-decoration: none; 
            color: white; 
        }
        .rounded {
            border-radius: 1rem
        }

        .nav-pills .nav-link {
            color: #555
        }

        .nav-pills .nav-link.active {
            color: white
        }

        input[type="radio"] {
            margin-right: 5px
        }

        .bold {
            font-weight: bold

        }
    </style>
</head>
<div class="wrapper1"style = "background-color:#DC3545;
position:fixed;
top:0;
width:100%;
z-index:100;">
  <nav class="navbar navbar-expand-sm bg-danger navbar-dark fixed-top">
    <input type="checkbox" id="show-search">
  <input type="checkbox" id="show-menu">
  <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
  <div class="content1">
    <div class="logo"><a href="#">Safar</a>
    </div>
  </div>
    <div style="text-align: right;" class = "content1">
      <ul class="links" >
        <li><a routerLink = "/bushire" *ngIf = "curruser != null">Bus Hire</a></li>
        <li><a routerLink = "/login" *ngIf = "curruser == null">Bus Hire</a></li>

        <li *ngIf = "curruser != null">
          <a  class="desktop-link1">Manage Bookings</a>
          <input type="checkbox" id="show-features1">
          <label for="show-features1" >Manage Bookings</label>
          <ul>
            <div *ngIf="curruser != null; else elseBlock">
                <li ><a [routerLink] = "['/cancelbooking']">Cancel</a></li>
            </div>
            <ng-template #elseBlock >
                <li ><a [routerLink] = "['/login']">Cancel</a></li>
            </ng-template>
            
          </ul>
          </li>
          <li><a [routerLink] = "['/userprofile/',curruser?.userId]" *ngIf = "curruser != null">{{curruser?.fullName}}</a></li>
        <li>
          <a  class="desktop-link" *ngIf = "curruser == null">Login/Signup</a>
          <a class = "login" routerLink="homepage" *ngIf = "curruser != null" (click) = "logout()">Logout</a>
          <input type="checkbox" id="show-features" *ngIf = "curruser == null">
          <label for="show-features" *ngIf = "curruser == null">Login/Signup</label>
          <ul>
            <li><a class = "registration" routerLink="/registration" *ngIf = "curruser == null">SignUp</a></li>
            <li><a class = "login" routerLink="/login" *ngIf = "curruser == null">Login</a></li>
            <li><a class = "admin" routerLink="/admin" *ngIf = "curruser == null">Admin Login</a></li>
            <li><a class = "login" routerLink="homepage" *ngIf = "curruser != null" (click) = "logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
</nav>
  </div>
<body oncontextmenu='return false' class='snippet-body' style = "background-image: url(../../assets/images/busbackground2.jpeg);background-size: 100% ;margin-top: 50px;">
    <div class="container py-5" style = "background-color: white;min-width: 100px;padding-left:10px">
    <!-- For demo purpose -->
    <div class="row mb-4">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-6"> Payment </h1>
            <h2 class="display-6"> Total Amount: {{bookings?.totalAmount}}</h2>
        </div>
    </div> <!-- End -->
    <div class="row">
        <div class="col-lg-6 mx-auto" style = "background-color: white;min-width: 100px;padding-left:10px">
            <div class=" ">
                <div class="">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <!-- Credit card form tabs -->
                        <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                            <li class="nav-item"> <a data-toggle="pill" class="nav-link active "> <i class="fas fa-credit-card mr-2"></i> Credit Card </a> </li>
                            
                        </ul>
                    </div> <!-- End -->
                    <!-- Credit card form content -->
                    <div class="tab-content">
                        <!-- credit card info-->
                        <div id="credit-card" class="tab-pane fade show active pt-3">
                            <form   [formGroup] = "ReactiveLogin">
                                <div class="form-group"> 
                                    <label for="username">
                                        <h6>Card Owner</h6>
                                    </label>
                                    <br>
                                    <input class = "" class="form-control " type="text" id = "uname" name = "uname" placeholder="Card Owner Name"  formControlName="uname" required> 
                                    <div *ngIf="!uname?.valid" >
                                        <div *ngIf="uname?.errors?.required && (uname?.dirty ||uname?.touched)">
                                             name is mandatory
                                        </div> 
                                        
                                    </div>
                                </div>
                                <div class="form-group"> <label for="cardNumber">
                                        <h6>Card number</h6>
                                    </label>
                                    <div class="input-group"> <input type="text" name="cardNumber" placeholder="Valid card number" class="form-control " minlength="12" maxlength="12" formControlName="cardnumber">
                                        <div *ngIf="!cardnumber?.valid" >
                                            <div *ngIf="cardnumber?.errors?.required && (cardnumber?.dirty ||cardnumber?.touched)">
                                                 cardnumber is mandatory
                                            </div> 
                                            
                                        </div>
                                        <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="fab fa-cc-visa mx-1"></i> <i class="fab fa-cc-mastercard mx-1"></i> <i class="fab fa-cc-amex mx-1"></i> </span> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group"> <label><span class="hidden-xs">
                                                    <h6>Expiration Date</h6>
                                                </span></label>
                                            <div class="input-group" > <input type="text" placeholder="MM" name="" class="form-control"  formControlName="mm" minlength="2" maxlength="2">
                                                 <div *ngIf="!mm?.valid" >
                                                <div *ngIf="mm?.errors?.required && (mm?.dirty ||mm?.touched)">
                                                     month is mandatory
                                                </div> 
                                                
                                            </div>
                                            <input type="text" placeholder="YY" name=""  class="form-control" formControlName="yy" minlength="2" maxlength="2">
                                                
                                                <div *ngIf="!yy?.valid" >
                                                    <div *ngIf="yy?.errors?.required && (yy?.dirty ||yy?.touched)">
                                                         year is mandatory
                                                    </div> 
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group mb-4"> <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                                <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                            </label> <input type="password" required class="form-control" formControlName="cvv" minlength="3" maxlength="3">
                                            <div *ngIf="!cvv?.valid" >
                                                <div *ngIf="cvv?.errors?.required && (cvv?.dirty ||cvv?.touched)">
                                                     cvv is mandatory
                                                </div> 
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer"> <button type="button" class="subscribe btn btn-primary btn-block shadow-sm" (click) = "donepayment()" [disabled]="!ReactiveLogin.valid" routerLink = "thankyoupage"> Confirm Payment </button>
                            </div>
                            </form>
                        </div>
                    </div> <!-- End -->
                     
                    
                    <!-- End -->
                </div>
            </div>
        </div>
    </div>
                                <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
                                <script type='text/javascript'>$(function() {
$('[data-toggle="tooltip"]').tooltip()
})</script>
    </div>
    </body>
</html>


