<head>
    meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<link rel="stylesheet" href="https://techlabz.in/truebus-web/admin/assets/css/bootstrap.min.css">
<link href="https://techlabz.in/truebus-web/admin//assets/css/charisma-app.css" rel="stylesheet">
<link href="https://techlabz.in/truebus-web/admin//assets/css/colorbox.css" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 


<link rel="stylesheet" href="https://techlabz.in/truebus-web/admin/assets/css/select2.min.css">


 <link rel="stylesheet" href="https://techlabz.in/truebus-web/admin/assets/css/AdminLTE.min.css"> 

 <link rel="stylesheet" href="https://techlabz.in/truebus-web/admin/assets/css/skin-red.css"> 


<link href="https://techlabz.in/truebus-web/admin/assets/parsley/parsley.css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->

</head>
<body class="hold-transition skin-red sidebar-mini"></body>
<div class="wrapper"></div>
<header class="main-header"></header>



<aside class="main-sidebar">

<section class="sidebar">
    <div class ="user-panel">

    <div class="pull-left image">
        <img src="https://techlabz.in/truebusupdate/admin/assets/uploads/profile_pic/admin/1511772739_man.png" class="user-image left-sid">
        </div>
        <div class="pull-left info">
        <p>Admin</p>
        
        <div class="pull-left">
            <a  routerLink="/profile" class="btn btn-default btn-warning">Profile</a>
            </div>
          <div class="pull-right">
            <a routerLink="/admin" class="btn btn-default btn-danger">Sign out</a>
            </div>
        
        </div>
        </div>

        <ul class="sidebar-menu">
            <li>
                <a class="viewbus" routerLink="/viewbus" ><i class="fa fa-bus" aria-hidden="true"></i><span>Bus Management</span></a>
            </li>
            <li>
                <a class="viewroute" routerLink="/viewroutes" ><i class="fa fa-arrows-v" aria-hidden="true"></i><span>Route Details</span></a>
            </li>
            <li>
                <a class="user" routerLink="/userdetails" ><i class="fa fa-users" aria-hidden="true"></i><span>Users</span></a>
            </li>
            
            <li>
                <a class="booking" routerLink="/bookingdetails" ><i class="fa fa-book" aria-hidden="true"></i><span>Booking Details</span></a>
            </li>
            
            <li>
                <a class="rating" routerLink="/rating" ><i class="fa fa-star" aria-hidden="true"></i><span>Rating</span></a>
            </li>
        </ul>
</section>

</aside>
<div class="content-wrapper">

<section class="content-header">
                <h1>
                    Add Bus Details
                    </h1>
                    <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-bus"></i>Home</a></li>
                    <li><a href="#">Bus Details</a></li>
                    <li class="active">Add Bus</li>
                    </ol>
                    </section>
                    
                    <section class="content">
                    <div class="row">
                    
                    <div class="col-md-12">
                    </div>
                    <div class="col-md-12">
                    
                    <div class="box box-warning">
                    <div class="box-header with-border">
                    <!-- <h3 class="box-title">Add Bus Details</h3> -->
                    </div>
                    
                    
                    <form role="form" action="" method="post" class="validate" enctype="multipart/form-data">
                    <div class="box-body">
                    <div class="col-md-6">
                    <div class="form-group has-feedback">
                    <label for="exampleInputEmail1">Bus Name</label>
                    <input type="text" class="form-control required" tabindex="1" data-parsley-trigger="change" data-parsley-minlength="2" data-parsley-maxlength="15" data-parsley-pattern="^[a-zA-Z\  \/]+$" required="" name="bus_name" placeholder="Bus Name">
                    <span class="glyphicon  form-control-feedback"></span>
                    </div>
                    <div class="form-group">
                    <label>Bus Type</label>
                    <select tabindex="3" class="form-control select2 required" style="width: 100%;" name="bus_type_id">
                    <option value="1"> - AC</option>
                    <option value="2"> - Non AC</option>
                    <option value="3"> - sleeper</option>
                    </select>
                    </div>
                    <div class="form-group has-feedback">
                    <label for="exampleInputEmail1">Start Point</label>
                    <input tabindex="5" type="text" class="form-control required" name="board_point" data-parsley-trigger="change" data-parsley-minlength="2" data-parsley-maxlength="15" data-parsley-pattern="^[a-zA-Z0-9\  \/]+$" required="" placeholder="Start Point">
                    <span class="glyphicon  form-control-feedback"></span>
                    </div>
                    <div class="bootstrap-timepicker">
                    <div class="form-group">
                    <label>Start Time</label>
                    <div class="input-group">
                    <input tabindex="7" type="text" name="board_time" class="form-control timepicker">
                    <div class="input-group-addon">
                    <i class="fa fa-clock-o"></i>
                    </div>
                    </div>
                    </div>
                    </div>
                    
                    
                    <div class="col-md-6">
                    <div class="form-group has-feedback">
                    <label for="exampleInputEmail1">Bus ID</label>
                    <input tabindex="2" type="text" class="form-control required" name="bus_reg_no" data-parsley-trigger="change" data-parsley-minlength="2" data-parsley-maxlength="15" required="" placeholder="Bus ID">
                    <span class="glyphicon  form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                    <label for="exampleInputEmail1">Maximum Seats</label>
                    <input tabindex="4" type="text" class="form-control required" name="max_seats" data-parsley-trigger="change" required="" placeholder="Maximum Seats">
                    <span class="glyphicon  form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                    <label for="exampleInputEmail1">End Point</label>
                    <input tabindex="6" type="text" class="form-control required" name="drop_point" data-parsley-trigger="change" data-parsley-minlength="2" data-parsley-maxlength="15" required="" placeholder="End Point">
                    <span class="glyphicon  form-control-feedback"></span>
                    </div>
                    <div class="bootstrap-timepicker">
                    <div class="form-group">
                    <label>End Time</label>
                    <div class="input-group">
                    <input tabindex="8" type="text" name="drop_time" class="form-control timepicker">
                    
                    <div class="input-group-addon">
                    <i class="fa fa-clock-o"></i>

                    <div class="box-footer">
                        <button tabindex="10" type="submit" class="btn btn-primary">Submit</button>
                        </div> 
                        </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    
                    </div>
                    </div>
                    
                    
                
                    
                    
                    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                    
                   