<head>
	<meta charset="utf-8">
	<title>Login</title>
	
	

	
</head>


    

    <div class="box1">
    <form [formGroup]= "ReactiveLogin">

	
			
				<div>

                    <p>
                        <label for= "email">Email ID</label><br>
                        <input type="text" id="email"name="email" formControlName="email"/>
                
                    </p>
                    <div *ngIf="!email?.valid">
                        <div *ngIf="email?.errors?.required">
                             Email is mandatory
                        </div>
                        <div *ngIf="email?.errors?.pattern">
                            Email ID should have @
                        </div>
                       
                    </div>

                
					<p>
                        <label for= "password">Password</label><br>
                        <input type="password" id="pasword" name="password" formControlName="pwd"/>
                    </p>
                    <div *ngIf="pwd?.errors?.required">
                        Password is mandatory.
                    </div>
                    <div *ngIf="pwd?.errors?.pattern">
                        Password should contain atleast one number and one letter.
                    </div>
			

					
                    
                    <p>
                    <button type="button" [disabled]="!ReactiveLogin.valid" (click) = "Check()" >Submit</button>
                      </p>
                      


                </div>

               </form> 
	</div>
			  