<div class="wrapper1"style = "background-color:#DC3545;
position:fixed;
top:0;
width:100%;
z-index:100;">
  <nav class="navbar navbar-expand-sm bg-danger navbar-dark fixed-top">
		<input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content1">
        <div class="logo"><a href="#">Safar</a>
        </div>
      </div>
        <div style="text-align: right;" class = "content1">
          <ul class="links" >
            <li><a routerLink = "/bushire" *ngIf = "curruser != null">Bus Hire</a></li>
			<li><a routerLink = "/login" *ngIf = "curruser == null">Bus Hire</a></li>

            <li *ngIf = "curruser != null">
              <a  class="desktop-link1">Manage Bookings</a>
              <input type="checkbox" id="show-features1">
              <label for="show-features1" >Manage Bookings</label>
              <ul>
				<div *ngIf="curruser != null; else elseBlock">
					<li ><a [routerLink] = "['/cancelbooking']">Cancel</a></li>
				</div>
				<ng-template #elseBlock >
					<li ><a [routerLink] = "['/login']">Cancel</a></li>
				</ng-template>
                
              </ul>
			  </li>
			  <li><a [routerLink] = "['/userprofile/',curruser?.userId]" *ngIf = "curruser != null">{{curruser?.fullName}}</a></li>
            <li>
              <a  class="desktop-link" *ngIf = "curruser == null">Login/Signup</a>
			  <a class = "login" routerLink="homepage" *ngIf = "curruser != null" (click) = "logout()">Logout</a>
              <input type="checkbox" id="show-features" *ngIf = "curruser == null">
              <label for="show-features" *ngIf = "curruser == null">Login/Signup</label>
              <ul>
                <li><a class = "registration" routerLink="/registration" *ngIf = "curruser == null">SignUp</a></li>
                <li><a class = "login" routerLink="/login" *ngIf = "curruser == null">Login</a></li>
				<li><a class = "admin" routerLink="/admin" *ngIf = "curruser == null">Admin Login</a></li>
				<li><a class = "login" routerLink="homepage" *ngIf = "curruser != null" (click) = "logout()">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
	</nav>
  </div>




<div style ="background-image: url(../../assets/images/busbackground2.jpeg);background-size:100%;">
  <div class="container mt-4 " >
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row">
         
  
        <div *ngIf="bookings" class="card card-body block j_details" style="width: 200px;margin-top: 100px; background-color: rgb(255, 238, 238); padding: 20px;">
          <h2>Ticket Details</h2>
          <hr>
          <h2 class="text-capitalize"style="color:coral"> {{schedules.bus.route.startingPoint}} to {{schedules.bus.route.destination}} </h2>
          <p> Date & Time : {{schedules.from_date}} :{{schedules.time}}</p>
          <p>Bus Number: {{schedules.bus.busId}} <br>
              <span>Bus Type : {{schedules.bus.busType}}  </span>
          </p>
          <p >Seats No (
            <li style="display:inline;color:coral" *ngFor="let s of seats">{{s.seatid}} , </li>
            
            )</p>
            
        </div>

      
          <div style="font-size: 20px; border-radius: 10px; padding: auto;">
          
            <form (ngSubmit)="userForm(userF)" #userF="ngForm" style="color:rgb(255, 202, 202); font-size: 20px; border-color: tomato;" >
              <br>
              
              <div *ngIf = "curruser == null">
              <div class="form-group" >
                <h1>Please Enter Your Details</h1>
                <input type="text" placeholder = "Enter Name" required name="user_name" ngModel class="form-control form-control-sm" style="font-size: 20px">
                <br>
              </div>
              <div class="form-group" >
                <input type="text" placeholder = "Enter Contact number" required name="user_mobile" ngModel class="form-control form-control-sm" style="font-size: 20px">
                <br>
              </div>
              <div class="form-group" disabled = "curruser == null">
                <input type="email" placeholder = "Enter Email Id" required name="user_email" ngModel class="form-control form-control-sm" style="font-size: 20px">
                <br>
              </div>

            </div>
              <div style="text-align: center;  
                
              padding-top: 10px; margin-left: 350px;">
                <button class="btn btn-sm btn-primary" style="width: 500px;font-size: 25px; ">Submit</button>
              </div>
              <div style="text-align: center;  
                
              padding-top: 80px; margin-left: 300px;">
                
              </div>
            </form>
          </div>

          </div>
          
        </div>
      </div>
    </div>
  </div>