<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="https://techlabz.in/truebus-web/admin/assets/css/bootstrap.min.css">
<link href="https://techlabz.in/truebus-web/admin//assets/css/charisma-app.css" rel="stylesheet">
<link href="https://techlabz.in/truebus-web/admin//assets/css/colorbox.css" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 


<link rel="stylesheet" href="https://techlabz.in/truebus-web/admin/assets/css/select2.min.css">


 <link rel="stylesheet" href="https://techlabz.in/truebus-web/admin/assets/css/AdminLTE.min.css"> 

 <link rel="stylesheet" href="https://techlabz.in/truebus-web/admin/assets/css/skin-red.css"> 

 

</head>

<body class="hold-transition skin-red sidebar-mini"></body>
<div class="wrapper"></div>
<header class="main-header"></header>



<aside class="main-sidebar">

<section class="sidebar">

<div class="user-panel">
    <div class="pull-left image">
        <img src="https://techlabz.in/truebusupdate/admin/assets/uploads/profile_pic/admin/1511772739_man.png" class="user-image left-sid">
        </div>
        <div class="pull-left info">
        <p>Admin</p>
        
        <div class="pull-left">
            <a  routerLink="/profile" class="btn btn-default btn-warning">Profile</a>
            </div>
          <div class="pull-right">
            <a routerLink="/admin" class="btn btn-default btn-danger">Sign out</a>
            </div>
        
        </div>
        </div>

<ul class="sidebar-menu">

    <li>
        <a class="viewbus" routerLink="/viewbus"routerLinkActive="active" ><i class="fa fa-bus" aria-hidden="true"></i><span>Bus Management</span></a>
    </li>
    <li>
        <a class="viewroutes" routerLink="/viewroutes"routerLinkActive="active" ><i class="fa fa-arrows-v" aria-hidden="true"></i><span>Route Details</span></a>
    </li>
    <li>
        <a class="user" routerLink="/userdetails" ><i class="fa fa-users" aria-hidden="true"></i><span>Users</span></a>
    </li>
    
    <li>
        <a class="booking" routerLink="/bookingdetails" ><i class="fa fa-book" aria-hidden="true"></i><span>Booking Details</span></a>
    </li>
    
    <li>
        <a class="rating" routerLink="/rating" ><i class="fa fa-star" aria-hidden="true"></i><span>Rating</span></a>
    </li>
</ul>
</section>

</aside>

    <div class="content-wrapper">

        <section class="content-header">
   
<div>
    <h1>Update Bus</h1>
</div>

    <form [formGroup]="busForm" (ngSubmit)="submitForm()" novalidate >
        
        <div class="form-group">
            <label> Bus ID</label>
            <input type="number" formControlName="busId" class="form-control" maxlength="20">
        </div>
        <div class="form-group">
            <label>Bus Number</label>
            <input type="number" formControlName="busNumber" class="form-control" maxlength="20">
        </div>
        <div class="form-group">
            <label>Bus Number Plate</label>
            <input type="number" formControlName="busPlateNumber" class="form-control" maxlength="20">
        </div>
        <div class="form-group">
            <label>Type</label>
            <input type="text" formControlName="busType" class="form-control">
        </div>
        <div class="form-group">
            <label>Capacity</label>
            <input type="number" formControlName="capacity" class="form-control">
        </div>
        <div class="form-group">
            <label>Route Id</label>
            <input type="number" formControlName="routeId" class="form-control">
        </div>
        
        <button type="submit">Submit</button>
    </form>
    </section>
</div>