.feedback{
    width: 100%;
    max-width: 780px;
    background: #fff;
    margin:  100px 220px ;
    padding: 30px 30px 30px 30px;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
}
p{
    align-content: center;
}


.feedback form textarea{
    width: 200%;
    border: 1px solid #ddd;
}
