

<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="../../assets/images/image.jpg" alt="IMG">
				</div>
				
				<div class="box1">
                    <form [formGroup]= "ReactiveLogin">            
                            
                    <div>

					<span class="login100-form-title">
						 Admin Login
					</span>

					<div class="wrap-input100 validate-input">
						<!-- <input class="input100" type="text" name="username" placeholder="Username"> -->
						<input class="input100" type="text" id="username"name="username" formControlName="email" placeholder="Email ID"/>

					</div>  

					<div class="wrap-input100 validate-input">
						<!-- <input class="input100" type="password" name="pass" placeholder="Password"> -->
						<input class="input100" type="password" id="pwd"name="pwd" formControlName="pwd" placeholder="Password"/>

					</div>
					
					<div class="container-login100-form-btn">
						<button type="button" class ="login100-form-btn" (click) = "Check()" >Login
						</button>
					

					</div>
					

				
			</div>
		